AUTOMACAO_EMAIL=seu_email@exemplo.com
AUTOMACAO_SENHA=sua_senha_aqui
CAMPO_EMAIL_X=564
CAMPO_EMAIL_Y=401
BOTAO_LOGIN_X=727
BOTAO_LOGIN_Y=568
CAMPO_FORM_X=534
CAMPO_FORM_Y=290
SCROLL_APOS_CADASTRO=5000
